@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(200, 100, 0, 1.0);
}

h1,h2,h3{
    font-family: "roboto", fantasy;
    font-weight: 200;
}

h1{
    background-color: #ffffff;
    text-align: center;
    font-size: 60px;
}

h2 {
    text-decoration: underline;
    font-size: 45px;
}

h3 {color: plum

}

li{
    font-family: sans-serif;
    font-size: 20px;

}

ul li{
    background-color: aquamarine;
}

ol li{
    list-style: lower-greek;
}

img{
    width: 200px; 
   /* height: 300px; */
    padding: 20px;
    /*border-width: 10px;
    border-color: white;
    border-style: solid;*/
    border: 10px white solid;
    margin-top: 10px; /*same 1 line technique for border can be applied here */

}

header {
width: 960px;
border: 20px green;
padding-block: 20px;
margin-left: auto;
margin-right: auto;
}


main {
width: 960px;
}


footer {
width: 960px;
}

.inline{
    display:inline-block;
}

nav{
    background-color: white;


}

nav ul{
display: grid;
grid-template-columns: 100px 100px 100px 100px;
grid-template-rows: 50px;
gap: 20px;
justify-content: center;

}

nav ul li{
list-style: none;

}

nav ul li a{
text-decoration: none;

}

nav ul li a:hover{
background-color: blanchedalmond;

}

.bgimage{
    background-image: url("..images/coffee.jpg");
}

.imagegallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.imagegallery>img{


}